# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
*.log
Temp/UnityLockfile
Temp/UnityTempFile-06873bb07d5ebce4684fe4d75e9c6a53
Temp/UnityTempFile-3ee9e5295d49ddd4eb502e8fabddff91
Temp/UnityTempFile-2ff80149b46cf764bb526a88c3bf032d
